<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656462836166-651ql3r8p8mbcfdl3n89hctls9v7d2l6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656462836166-651ql3r8p8mbcfdl3n89hctls9v7d2l6</string>
	<key>API_KEY</key>
	<string>AIzaSyAIUEv8MgOQOTG53CFNODRV4kYEos2H000</string>
	<key>GCM_SENDER_ID</key>
	<string>656462836166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appointment.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dashboard-appontmine</string>
	<key>STORAGE_BUCKET</key>
	<string>dashboard-appontmine.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656462836166:ios:5c9a462063033209d602c7</string>
</dict>
</plist>